<div class="jumbotron">
<div class="center">
	<h1>About us</h1>
</div>
	<p>We are working on our one month rails pinteresting app! We are a young creative team willing to make you enjoy this experience. 
	Based in the Canary Islands.</p>
</div>